<p>
    Contest: <a href="<%= orLink %>"><%= challengeName %> <%= challengeVersion %></a><br/>
</p>

<p>
    Member <%= memberHandle %>, whose previous submission #<%= submissionId %> was in review, has re-submitted and his previous submission was deleted.<br/>
    The next submission in the queue is #<%= nextSubmissionId %> from member <%= nextSubmitterHandle %>.<br/>
    Please download the next submission before completing your review.
</p>