<p>Hi <%= userName %>,</p>

<p>Congratulations! You are now registered for <%= projectName %> Challenge.</p>

<p>You now have access to the challenge discussion forum ( <%= forumURL %> ), which may have important information or documentation<%= documentationDetails %> about the challenge. It is also the place to ask questions regarding the challenge. Please post your questions at any time and the challenge holder will respond within 24 hours. Any questions asked within a few hours of the submission deadline may not be answered in time, so get your questions in early!</p>

<p>The deadline for submitting a solution is <%= deadlineDate %>. Please upload your submission here: <%= submitURL %>. If you encounter any problems, please contact us at support@topcoder.com. All late submissions will be ignored.</p>

<p>Need more information about competing? Visit the Help Center at http://help.topcoder.com.</p>

<p>Do you have questions or technical problems? Please contact support@topcoder.com.</p>

<p>Good luck!</p>
<p>The topcoder Team</p>