<p>Hi <%= userName %>,</p>

<p>Registration Complete.</p>

<p>Thank you, for your interest in the <%= projectName %>. You now have access to the Discussion Forum ( <%= forumURL %> ) which can be used to obtain documentation<%= documentationDetails %>, as well as to ask questions regarding the project. Please post your questions at any time and a product manager will respond within 24 hours. Any questions asked within 6 hours of the submission due date/time may not be answered in time, so get your questions in early!</p>

<p>The deadline for submitting a solution is <%= deadlineDate %>. Please upload your submission using the project page found here: <%= submitURL %>  If you encounter any problems, please contact us at support@topcoder.com.  All late submissions will be ignored.</p>

<p>If you have any questions please contact support@topcoder.com</p>

<p><%= umlToolInfo %></p>

<p>[topcoder] Software Team</p>